*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul{
    list-style-type:none;
}
#wrap{
    width:1000px;
    margin:0 auto;
    position:relative;

}
#top{
    font-size: 40px;
}
.slide_image{
    width:20%;
}

#main{
    width:1000px;
}

#slide{
    width:20%;
    position:relative;
}
.sub1{
    background:url(../image/sub1.jpg) no-repeat center;
    background-size: cover;
}
.sub2{
    background:url(../image/sub2.jpg) no-repeat center;
    background-size: cover;
}
.sub3{
    background:url(../image/sub3.jpg) no-repeat center;
}

#tothetop{
    position:fixed;
    top:200px;
    left:20px;
    background: rgb(10, 120, 198);
    padding:10px;
    border-radius: 10px;
    color:white;
    line-height:40px;
}